<!DOCTYPE html>
<html>
<head>
    <title>Calculator</title>
</head>

<body>
    <h1>Calculator</h1>
<form action='{% url "index" %}' method="POST">
    <p>input1</p>
    <input type='number' step="any" name='input1'><br>
    <p>input2</p>
    <input type="number" step="any" name='input2'><br>
    <br>
    {%csrf_token %}
    <input type="submit"  name="plus" value="+">
    <input type="submit"  name="subtract" value="-">
    <input type="submit"  name="multiple" value="*">
    <input type="submit"  name="divide" value="/">
    <br>
    {% if result %}
    <p>Result :{{result}}</p>
    {% endif %}
</form>

</body>

</html>