<!DOCTYPE html>
<html>
<head>
    <title>Calculator</title>
    <style>
        .button {background-color: #f44336;}
        .size {width: 4.5
        em;  height: 2em;}
    </style>
</head>

<body>
    <h1>Calculator</h1>
    <form action='{% url "index" %}' method="POST">
        <p>Number 1 
        <input type='number' step="any" name='input1' placeholder="Enter your numer"><br>
        </p>
        <p>Number 2 
        <input type="number" step="any" name='input2' placeholder="Enter your numer"><br>
        </p>
        <br>
        {%csrf_token %}
        <input type="submit"  name="plus" class="size" value="+">
        <input type="submit"  name="subtract" class="size" value="-">
        <input type="submit"  name="multiple" class="size" value="*">
        <input type="submit"  name="divide" class="size" value="/">
        <br>
    </form>
    {% if result %}
    <p>Result :{{result}}</p>
    {% endif %}

    {% if allhistory %}
        <h2>History  </h2>
        <form action='{% url "removeallhistory" %}' method="POST" >
            {% csrf_token %}
            <input type="submit" name="remove_all" value="Remove all">
        </form>
        {% for History in allhistory %}
          <form action="{% url 'removehistory' History.id %}" method="POST">
               {%csrf_token %} 
               <p><input type="submit" class="button"  name="history" value="X" >
                    {{ History.input1 }} {{ History.operator }} {{ History.input2 }} = {{ History.result }} 
                </p>
            </form>
        {% endfor %}
    {% endif %}
</body>

</html>